* {
  font-family: JetBrains Nerd Font Mono;
  font-size: 14px;
  font-feature-settings: "tnum";
}

#workspaces button {
  outline: 2px solid white;
}

#workspaces button.focused {
  outline: 2px solid red;
}

#window {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

window#waybar.Alacritty {
  background-color: #111111;
  color: #ffffff;
}

window#waybar.chromium-browser {
  background-color: #eeeeee;
  color: #000000;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
  background-color: transparent;
}
